@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container welcome-container">
        <img src="/images/logo.webp" alt="AspireLearn Logo" class="logo">
        <div class="typewriter">
            <h1>Welcome AspireLearn</h1>
        </div>
        <p class="description">Learn and grow with the best online courses.</p>
    </div>
</body>
</html>
